:root {
    --wls-base-dark: rgb(10, 69,79);
    --wls-base-light: rgb(7, 117, 135);
    --wls-gray-dark: gray;
    --wls-gray-light: lightgray;
    --wls-logo-light: rgb(218, 74, 0);
    --wls-logo-dark: rgb(186, 0, 0);
    --wls-hint: rgb(240,240,240);
    --wls-border-radius: .5em;
    --wls-padding: .25em;

    --primary: var(--wls-base-dark)
}

html,body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: var(--wls-base-dark);
}

:link:not(.btn-primary) {
    color: var(--wls-base-dark);
}

:visited:not(.btn-primary) {
    color: var(--wls-base-dark);
}

:link:hover {
    color: var(--wls-base-light);
}

#navbar {
    border-bottom: 1px solid var(--wls-gray-light);
    box-shadow: 0px 0px 1em 1px var(--wls-gray-light);
}

#footer {
    text-align: center;
}

.nz-logo-2lg {
    height: 4rem;
    color: var(--wls-base-dark);
}

.nz-logo-lg {
    height: 2.5rem;
    color: var(--wls-base-dark);
}

.nz-logo-md {
    height: 2rem;
    color: var(--wls-base-dark);
}

.nz-logo {
    height: 1em;
    color: var(--wls-base-dark);
}


.nz-post {
    display: flex;
    flex-direction: column;    
}

.nz-post > .nz-header {
    display: flex;
    padding-left: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
    border-bottom: 1px solid var(--wls-gray-dark);
}

.nz-post > .nz-header > .nz-post-logo {
    display: flex;
}
.nz-post > .nz-header > .nz-post-logo > img {
    margin-top: auto;
    margin-bottom: auto;
}

.nz-post > .nz-header > .nz-title {
    padding-left: 1em;
    flex-grow: 1;
}

.nz-post > .nz-header > .nz-title > .nz-title-text {
    font-weight: bold;
}

.nz-post > .nz-header > .nz-title > .nz-title-extra {
    color:var(--wls-gray-dark);
    font-size: small;
}

.nz-post > .nz-body {
    font-size: medium;
    text-align: justify;
    padding-left: .5em;
    padding-right: .5em;
}

.nz-affi {
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
}


.nz-affi  > .nz-affi-logo  img {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--wls-base-dark);
}

.nz-affi > .nz-affi-body {
    color: var(--wls-gray-dark);
    font-size: small;
}

#footer .nz-foot-img {
    padding: 2em;
}

#footer .nz-foot-img > *:not(:first-child) {
    margin-left: 1em;
}


.nz-quote {
    color: var(--wls-gray-dark);
    font-size: medium;
    text-align: justify;
    font-style: italic;
}

.nz-area {
    background-color: var(--wls-hint);
    border: 1px solid var(--wls-gray-light);
    border-radius: .5em;
    padding: 1em;
    box-shadow: 2px 2px 6px 1px var(--wls-gray-light);
}

#body {
    position: relative;
}
#body::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/img/tlo.jpg); 
    background-position-x: right;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;    
}

#toc {
    margin-bottom: 0px;
}