---
---

@import "defs";

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}

a {
    color: $wls-color;
}

.wls-bg {
    background-color: white;
}

.wls-ico-lg {
    width: 1rem;
    height: 1rem;
}

.wls-ico-2x {
    width: 2rem;
    height: 2rem;
}

.wls-ico-5x {
    width: 5rem;
    height: 5rem;
}

.wls-quote {
    font-style: italic;
    font-family: 'Roboto', serif;
}

.wls-head {

    > div {
        background-image: linear-gradient(to bottom, $wls-color, transparent);
    }

    h6 {
        font-style: italic;
        color: black;
    }
}

.wls-foot {

}

.wls-card {
    min-height: 160px;
}
.wls-card-img {
    width: 200px;
}
.wls-bl {
    border-left: 2px solid $wls-color
}
.wls-bb {
    border-bottom: 2px solid $wls-color
}
.wls-br {
    border-right: 2px solid $wls-color
}
.wls-bt {
    border-top: 2px solid $wls-color
}


.btn-primary {
    background-color: rgb(215, 172, 104);
    border-color: rgb(215, 172, 104);
    color: black;
}

@mixin toc-ul {
    list-style-type: none;
};

#toc { 
    @include toc-ul;
    padding-left: 0px;
}

#toc {
    ul { 
        @include toc-ul ;
        padding-left: 10px;
    }
}
