---
---

@import "defs";

body {
    font-family: 'Roboto', sans-serif;
}

.foo {
    color: red;
}

.wls-bg {
    background-image: url({{ "/img/tlo-light.png" | relative_url }});
}

.wls-ico-lg {
    width: 1rem;
    height: 1rem;
}

.wls-ico-2x {
    width: 2rem;
    height: 2rem;
}

.wls-ico-5x {
    width: 5rem;
    height: 5rem;
}

.wls-quote {
    font-style: italic;
    font-family: 'Roboto', serif;
}

.wls-head {
    background-color: $wls-color-a;

    h2 {
        color: white;
    }
    
    h6 {
        font-style: italic;
    }
}

.btn-primary {
    background-color: rgb(215, 172, 104);
    border-color: rgb(215, 172, 104);
    color: black;
}

@mixin toc-ul {
    list-style-type: none;
};

#toc { 
    @include toc-ul;
    padding-left: 0px;
}

#toc {
    ul { 
        @include toc-ul ;
        padding-left: 10px;
    }
}
