---
---

@import "defs";

html {
    height: 100%;
}

body {
    font-family: $wls-sans;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

a
{
    color: black;
    text-decoration: underline;
    text-decoration-color: $wls-color-orange;

}
.wls-bg {
    background-color: rgb(244, 244, 244);
}

.wls-ico-lg {
    width: 1rem;
    height: 1rem;
}

.wls-ico-2x {
    width: 2rem;
    height: 2rem;
}

.wls-ico-5x {
    width: 5rem;
    height: 5rem;
}

.wls-img-foot {
    height: 2rem;
}

.wls-quote {
    font-style: italic;
    font-family: $wls-serif;
}

.wls-head {

    > div {
        background-image: linear-gradient(to bottom, $wls-color-orange, transparent);
    }

    h6 {
        font-style: italic;
        color: black;
    }
}

.wls-foot {
    background-color: $wls-color-orange;
}

.wls-card {
    min-height: 160px;
}
.wls-card-img {
    width: 200px;
}

.wls-bl-r {
    border-left: 2px solid $wls-color-red
}
.wls-bb-r {
    border-bottom: 2px solid $wls-color-red
}
.wls-br-r {
    border-right: 2px solid $wls-color-red
}
.wls-bt-r {
    border-top: 2px solid $wls-color-red
}

.wls-bl-o {
    border-left: 1px solid $wls-color-orange
}
.wls-bb-o {
    border-bottom: 1px solid $wls-color-orange
}
.wls-br-o {
    border-right: 1px solid $wls-color-orange
}
.wls-bt-o {
    border-top: 1px solid $wls-color-orange
}

.wls-title {
    text-decoration: underline;
    text-decoration-color: $wls-color-red;
}

.btn-primary {
    background-color: rgb(215, 172, 104);
    border-color: rgb(215, 172, 104);
    color: black;
}

@mixin toc-ul {
    list-style-type: none;
};

#toc { 
    @include toc-ul;
    padding-left: 0px;
}

#toc {
    ul { 
        @include toc-ul ;
        padding-left: 10px;
    }
}
