---
layout: default
title: Nowoczesny Zarządca Nieruchomości
subTitle: Wizja postępu dzięki technologii i lepszej organizacji pracy
---

<div class="container">

    <div class="row">
        <div class="col-12 col-md-9 p-0 wls-bt-r">
            <div class="p-2 mx-md-2 mb-2">
                <div class="container">
                    <div class="row">
                        {% for post in site.posts limit: 5 %}
                        <div class="p-1 col-12">
                            {% include postcard.html post=post %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 p-0">
            <div class="wls-bg p-2 wls-br-r wls-bb-r wls-bt-r text-justify">
                <h4><img class="wls-ico-5x mr-2 font-weight-bold" src={{ "/img/avatar.png" | relative_url }}>Michał&nbsp;Ziemski</h4>
                <p class="mx-2">
                    Jestem prezesem zarządu spółki WELES sp z&nbsp;o.o. sp.&nbsp;k.
                </p>
                <p class="mx-2">
                    Od ponad 20 lat zajmuję się tworzeniem systemów
                    dla zarządców nieruchomości Weles.
                </p>
            </div>

            <div class="wls-bg p-2 wls-bl-r">
                <div class="wls-quote text-justify">
                    Spotkałem wielu zarządców nieruchomości. Z&nbsp;wieloma współpracuję przez bardzo długi okres.
                    Na tym portalu pragnę podzielić się moimi doświadczeniami, co sprawiało, że niektórzy
                    zarządcy szybko rosną, inni stoją w miejscu a&nbsp;jeszcze inni powoli zmierzają do
                    końca swojej działalności. Podpowiem też, co robić aby znaleźć się w&nbsp;pierwszej z&nbsp;tych
                    grup.
                </div>
            </div>

        </div>
    </div>

</div>