<div class="nz-post mb-2"]}>
    <div class="nz-header">
        <div cl="nz-post-logo">
            <img src="{{ include.post.icon }}" class="nz-logo-lg" />
        </div>
        <div class="nz-title">
            <div class="nz-title-text"><a href="{{ include.post.url }}">{{ include.post.title }}</a></div>
            <div class="nz-title-extra">{{ include.post.date | date: "%Y-%m-%d" }} ~{{ include.post.readTime }}min</div>
        </div>
    </div>
    <div class="nz-body">{{ include.post.description }}</div>
</div>
