<div class="clearfix p-2 bg-white">
    <div class="d-none d-sm-block wls-card ">
        <a href="{{ include.post.url }}">
            <img class="mr-2 float-left wls-card-img" src={{ include.post.image | relative_url }}>
            <span class="h4">{{ include.post.title }}</span>
        </a>
        <div class="wls-quote wls-subtitle">{{ include.post.descritpion }}</div>
        <div class="wls-subtitle small">Opublikowano {{ include.post.date | date: "%Y-%m-%d" }}.</div>
        <div class="wls-subtitle small">Przeczytasz w ok. {{ include.post.readTime }} min.</div>
    </div>
    <div class="d-block d-sm-none text-center ">
        <a href="{{ include.post.url }}">
            <div>
                <img class="mr-2 wls-card-img" src={{ include.post.image | relative_url }}>
            </div>
            
            <span class="h4">{{ include.post.title }}</span>
        </a>
        <div class="wls-quote wls-subtitle">{{ include.post.descritpion }}</div>
        <div class="wls-subtitle small">Opublikowano {{ include.post.date | date: "%Y-%m-%d" }}.</div>
        <div class="wls-subtitle small">Przeczytasz w ok. {{ include.post.readTime }} min.</div>
    </div>
</div>